.font {
    color: #FBCB0A;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

body,
.navbar,
ul {
    margin: 0;
    padding: 0;
}

#changing-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: blueviolet;
}

a {
    text-decoration: none;
}

/* Navigation bar styles */
/* 1. Static navbar styles */
/* 2. Styles that change with media query*/
/* 3. JavaScript styles */
/* 4. Navigation bar hover effect */

/* 1. Static navbar styles */

.navbar-hamburger {
    width: 40px;
    height: 40px;
    margin: 5px 15px 5px 5px;
}

nav div ul {
    display: inline-block;
}

nav div ul li {
    list-style-type: none;
    margin: 10px 22px;
    text-align: right;
}

.navbar-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px 5px 5px 15px;
}


/* 2. Styles that change with media query */

.navbar {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin: 0 0 5px 0;
}

.navbar-logo-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 15px;
    color: black;
    font-weight: 400;
    font-size: 0.7em;
}

.navbar-logo-text:hover {
    font-weight: 500;
    font-size: 0.8em;
    color: #590696;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav div ul li a {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}


/* 3. JavaScript styles */

.navbar-hidden-mobile {
    height: 0px;
    transition: 0.5s;
}

.navbar-links-toggle {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-anchor {
    display: inline-block;
    transform: translateX(-100vw);
}


/* 4. Navigation bar hover effect */
#hover {
    display: inline-block;
    width: auto;
}

#hover::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

#hover:hover::after,
#hover:focus::after {
    transform: scale(1);
}

.navbar-hover {
    display: block;
    position: relative;
    padding: 0.1em 0;
}

.navbar-hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: orangered;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.navbar-hover:hover::after,
.navbar-hover:focus::after {
    opacity: 1;
}



@media(min-width: 896px) {

    /* Navigation bar styles */
    /* 1. Style changes */
    /* 2. Defaulting JavaScipt */

    /* 1. Style changes */

    .navbar-logo {
        width: 35px;
        height: 35px;
    }

    .navbar-logo-text {
        font-size: 0.9em;
    }

    .navbar-logo-text:hover {
        font-weight: 500;
        font-size: 1em;
    }

    nav div ul li a {
        font-size: 1.4em;
    }

    /* 2. Defaulting JavaScipt/Mobile transition to desktop */

    .navbar {
        flex-direction: row;
        align-items: center;
    }

    nav div ul {
        display: flex;
        flex-direction: row;
    }

    .navbar-hamburger {
        display: none;
    }

    .navbar-display {
        width: 40%;
    }

    .navbar-anchor {
        transform: translateX(0);
        display: inline-block;
        transform: 'translateY(0)';
        transition: '0s';
    }

    .navbar-hidden-mobile {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-links {
        margin: 5px 15px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-links:last-of-type {
        margin: 5px 40px 5px 15px;
    }
}


@media(min-width: 1260px) {

    /* Navigation bar changes */
    .navbar-logo {
        width: 40px;
        height: 40px;
    }

    .navbar-logo-text {
        font-size: 1em;
    }

    .navbar-logo-text:hover {
        font-weight: 500;
        font-size: 1.1em;
    }

    nav div ul li a {
        font-size: 1.5em;
    }
}


