body,
.navbar,
ul,
h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Navigation bar styles */
/* 1. Static navbar styles */
/* 2. Styles that change with media query*/
/* 3. JavaScript styles */

/* 1. Static navbar styles */

.navbar-hamburger {
    width: 40px;
    height: 40px;
    margin: 5px 15px 5px 5px;
}

nav div ul {
    display: inline-block;
}

nav div ul li {
    list-style-type: none;
    margin: 10px 22px;
    text-align: right;
}

.navbar-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px 5px 5px 15px;
}


/* 2. Styles that change with media query */

.navbar {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin: 0 0 5px 0;
}

.navbar-logo-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 15px;
    color: black;
    font-weight: 400;
    font-size: 0.7em;
}

.navbar-logo-text:hover {
    font-weight: 500;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav div ul li a {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}


/* 3. JavaScript styles */

.navbar-hidden-mobile {
    height: 0px;
    transition: 0.5s;
}

.navbar-links-toggle {
    height: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-anchor {
    display: inline-block;
    transform: translateX(-100vw);
}


/* The main body */

.nothingness{
    padding: 150px 0;
    background-image: url(images/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-header {
    margin: 0 5vw;
    text-align: left;
    padding: 10vh 0.25em 20vh 0.25em;
}

#main-header > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.6em;
}

#main-header > h1:last-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.main-body {
    background-image: url(images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    display: flex;
    flex-direction: column;
}

.personal-image-wrapper {
    display: flex;
    justify-content: center;
}

.personal-image {
    border-radius: 50%;
    transform: translate(0, -75px);
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.pre-changing-text {
    transform: translate(0, -50px);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    margin: 0% 10% 5% 10%;
}


/* JS font styles for changing text */
#changing-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: lightblue;
}


.current-work-heading {
    margin: 0em 0.6em 0.8em 0.6em;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.2em;
}



.work-layout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-layout-project {
    background-color:black;
    padding: 10px 20px;
    border: solid teal 2px;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    margin: 2vh 10%;
}

.work-layout-project-images {
    width: 100%;
    height: auto;
}

.work-layout-project-image2 {
    transform: translateY(-5px);
}

.work-layout-project-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
    color: lightblue;
    font-size: 2em;
}

.work-layout-project-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: aquamarine;
    margin: 20px 10px;
}

.work-layout-project-skills span{
    margin: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.work-layout-project-link{
    display: flex;
    justify-content: center;
}

.work-layout-project-link a{
    color: aquamarine;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    text-decoration: underline;
    margin: 10px;
}

/* Contacts section */
.contacts{
    color: white;
    background-color: black;
    padding: 40px;
}

.contacts-text{
    margin-top: 4px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.contacts-text > span{
    margin-left: 2px;
    font-weight: 400;
}

@media(min-width: 896px) {

    /* Navigation bar styles */
    /* 1. Style changes */
    /* 2. Defaulting JavaScipt */
    /* 3. Navigation bar hover effect */
    /* 4. The main body */

    /* 1. Style changes */

    .navbar-logo {
        width: 35px;
        height: 35px;
    }

    .navbar-logo-text {
        font-size: 0.9em;
    }

    nav div ul li a {
        font-size: 1.4em;
    }

    /* 2. Defaulting JavaScipt/Mobile transition to desktop */

    .navbar {
        flex-direction: row;
        align-items: center;
    }

    nav div ul {
        display: flex;
        flex-direction: row;
    }

    .navbar-hamburger {
        display: none;
    }

    .navbar-display {
        width: 40%;
    }

    .navbar-anchor {
        transform: translateX(0);
        display: inline-block;
        transform: 'translateY(0)';
        transition: '0s';
    }

    .navbar-hidden-mobile {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar-links {
        margin: 5px 15px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-links:last-of-type {
        margin: 5px 40px 5px 15px;
    }

    /* 3. Navigation bar hover effect */
    #hover {
        display: inline-block;
        width: auto;
    }

    #hover::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    #hover:hover::after,
    #hover:focus::after {
        transform: scale(1);
    }

    .navbar-hover {
        display: block;
        position: relative;
        padding: 0.1em 0;
    }

    .navbar-hover::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: orangered;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .navbar-hover:hover::after,
    .navbar-hover:focus::after {
        opacity: 1;
    }

    /* The main body */
    .nothingness{
        padding: 200px 0;
    }

    #main-header{
        padding: 15vh 0.25em 25vh 0.25em;
        margin: 0 0 0 25vw;
    }

    #main-header > h1{
        font-size: 3.2em;
    }

    #main-header > h1:last-child{
        font-size: 2.6em;
    }

    .personal-image-wrapper {
        justify-content: flex-start;
        margin-left: 10vw;
    }


    /* Personal projects */

    .work-layout-project {
        width: 35%;
        max-width: 420px;
        min-width: 300px;
        margin: 5vh 5%;
    }

    .work-layout-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .work-layout-project-header {
        font-size: 2.4em;
    }


    /* Contact me */
    .contacts{
        padding: 40px 40px 20px 40px;
    }

}


@media(min-width: 1280px) {

    /* Navigation bar changes */
    .navbar-logo {
        width: 40px;
        height: 40px;
    }

    .navbar-logo-text {
        font-size: 1em;
    }

    nav div ul li a {
        font-size: 1.4em;
    }

    .nothingness{
        padding: 250px 0;
    }

    #main-header > h1{
        font-size: 3.8em;
    }

    #main-header > h1:last-child{
        font-size: 3.2em;
    }

    .personal-image {
        transform: translate(0, -100px);
        width: 200px;
        height: 200px;
    }

    .pre-changing-text {
        font-size: 2em;
    }

    .current-work-heading {
        font-size: 2.8em;
    }

    .work-layout-project {
        max-width: 600px;
        min-width: 420px;
    }

    .work-layout-project-header {
        font-size: 2.6em;
    }

    .work-layout-project-skills span, .work-layout-project-link a{
        font-size: 1.2em;
    }

    .contacts{
        padding: 50px 50px 30px 50px;
    }
}

@media(min-width: 1920px) {
    nav div ul li a {
        font-size: 1.6em;
    }

    .navbar-hover::after {
        height: 0.08em;
    }

    .nothingness{
        padding: 300px 0;
    }

    #main-header > h1{
        font-size: 4.6em;
    }

    #main-header > h1:last-child{
        font-size: 4em;
    }

    .personal-image {
        transform: translate(0, -125px);
        width: 250px;
        height: 250px;
    }

    .pre-changing-text {
        font-size: 2.4em;
    }

    .current-work-heading {
        font-size: 3.4em;
    }

    .work-layout-project {
        max-width: 600px;
        min-width: 500px;
    }

    .work-layout-project-header {
        font-size: 3em;
    }

    .work-layout-project-skills span, .work-layout-project-link a{
        font-size: 1.4em;
    }
}